<div class="container">
<div class="display-4">
<a class="btn btn-outline-primary" routerLink="/attendee"><i class="fa fa-plus-square"></i> Create New</a>
</div>
<div>
<table class="table table-hover">
  <thead class="thead-light">
    <th>Attendee No.</th>
    <th>Attendee Name</th>
    <th>
    </th>
    <th>
    </th>
  </thead>
  <tbody>
    <!-- <tr *ngIf="attendee.length == 0">
      <td class="font-italic text-center" colspan="4">
        No attendee record found.
      </td>
    </tr> -->
    <tr *ngFor="let attendee of attendee;let i=index;">
      <th>{{attendee.id}}</th>
      <td>{{attendee.attendeeName}}</td>
      <td>
          <a class="btn text-info"  [routerLink]="['/attendee/edit', attendee.id]"><i class="fa fa-pencil fa-lg"></i></a>
      </td>
      <td>
        <button class="btn text-danger" (click) ="deleteAttendee(attendee.id)"><i class="fa fa-trash fa-lg"></i></button>
    </td>
    </tr>
  </tbody>
</table>
</div>
</div>